{% extends "base.html" %}

{% block content %}

<section class="auth-section">

    <div class="auth-card">

        <p class="section-kicker">
            WELCOME BACK
        </p>

        <h1>
            Login
        </h1>

        <form method="POST">

            {% csrf_token %}

            {% for field in form %}

                <div class="auth-field">

                    <label>
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.errors %}
                        <div class="auth-error">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                </div>

            {% endfor %}

            {% if form.non_field_errors %}
                <div class="auth-error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <button
                type="submit"
                class="auth-button"
            >
                Login
            </button>

        </form>

        <p class="auth-switch">
            Don't have an account?

            <a href="{% url 'booking:signup' %}">
                Sign Up
            </a>
        </p>

    </div>

</section>

{% endblock %}